{% include "header.html" %}

    <!-- BODY -->
    <div class="d-flex align-items-center justify-content-center vh-100" style="background: linear-gradient(60deg, rgb(96, 78, 194), rgb(209, 72, 154)); padding-top: 55px;">
      <div class="container col-xxl-8 px-4 py-0">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
          <div class="col-10 col-sm-8 col-lg-6">
            <img src="/static/assets/img/modern-remote-worker-flat-design-style-vector-illustration_1090500-9642.jpg" class="d-block mx-lg-auto img-fluid" alt="Task-manager picture" width="700" height="500" loading="lazy">
          </div>
          <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-white lh-1 mb-3">Your Smart Task Manager for Daily Efficiency</h1>
            <p class="lead text-white">Manage your tasks effortlessly with my intuitive and user-friendly task manager. Organize, prioritize, and track your to-dos with ease, ensuring you stay on top of your work and personal goals.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- BODY -->

    <!-- FEATURES -->
  <div style="background: linear-gradient(0deg, rgb(230, 252, 255), rgb(255,255,255));">
    <div class="container px-4 pt-5" id="hanging-icons">
      <h2 class="pb-2 border-bottom">Features</h2>
      <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="col d-flex align-items-start">
          <div class="icon-square text-body-emphasis d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
            <img class="bi" src="/static/assets/img/task-svgrepo-com.svg" alt="task-list">
          </div>
          <div>
            <h3 class="fs-2 text-body-emphasis">Efficient Task Management</h3>
            <p>Easily create, edit, and organize your tasks with a user-friendly interface. Track progress with in-progress and completed task indicators.</p>

          </div>
        </div>
        <div class="col d-flex align-items-start">
          <div class="icon-square text-body-emphasis d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
            <img class="bi" src="/static/assets/img/lock-alt-svgrepo-com.svg" alt="lock">
          </div>
          <div>
            <h3 class="fs-2 text-body-emphasis">Secure User Authentication</h3>
            <p>Keep your tasks private with secure login and registration using password hashing and session management. Your data stays safe with CSRF protection</p>

          </div>
        </div>
        <div class="col d-flex align-items-start">
          <div class="icon-square text-body-emphasis d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
            <svg class="bi" width="1em" height="1em"><use xlink:href="#tools"></use></svg>
            <img src="/static/assets/img/working-progress-svgrepo-com.svg" alt="working-tracking">
          </div>
          <div>
            <h3 class="fs-2 text-body-emphasis">Intuitive Dashboard & Progress Tracking</h3>
            <p>View all your tasks in one place with a structured dashboard. Mark tasks as in-progress or completed, ensuring better productivity and workflow management.</p>

          </div>
        </div>
      </div>
    </div>
    <!-- FEATURES -->

    <!-- ADD INFO -->
    <div class="px-4 pt-4 mt-4 text-center border-bottom">
      <h1 class="display-4 fw-bold text-body-emphasis">Stay on Top of Your Tasks</h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Manage your to-do list efficiently with a user-friendly dashboard. Add, track, and update tasks seamlessly while keeping an eye on your progress with a simple and effective interface.</p>
      </div>
      <div class="overflow-hidden" style="max-height: 70vh;">
        <div class="container px-5">
          <img src="/static/assets/img/character-man-holding-sign_961875-457617.jpg" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
        </div>
      </div>
    </div>
    <!-- ADD INFO -->
  </div>

{% include "footer.html" %}
