{% from "bootstrap5/form.html" import render_field %}
{% block content %}
{% include "header.html" %}

    <section class="d-flex align-items-center justify-content-center" style="background-color: #eaf1fa; padding-top: 55px;">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-flex-start h-100">
          <div class="col col-xl-10" style="padding-top: 100px; padding-bottom: 100px;">
            <div class="card" style="border-radius: 1rem;">
              <div class="row g-0">
                <div class="col-md-6 col-lg-5 d-none d-md-block d-flex justify-content-center align-items-center">
                  <img src="/static/assets/img/flat-design-recap-illustration_52683-85738.jpg"
                    alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
                </div>
                <div class="col-md-6 col-lg-7 d-flex align-items-center">
                  <div class="card-body p-4 p-lg-5 text-black">

                    <form method="post">
                      {{ form.hidden_tag() }}
                      <div class="d-flex align-items-center mb-3 pb-1">
                        <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                        <span class="h1 fw-bold mb-0">Welcome Back</span>
                      </div>

                      <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Login into your account</h5>

                      <!-- FLASH MESSAGES FOR INPUT ERROR! -->
                      {% with messages = get_flashed_messages() %}
                        {% if messages %}
                          <ul class=flash>
                          {% for message in messages %}
                            <p style="color: red;">{{ message }}</p>
                          {% endfor %}
                          </ul>
                        {% endif %}
                      {% endwith %}
                      <div data-mdb-input-init class="form-outline mb-4">
                        {{ render_field(form.email, class="form-control form-control-lg") }}
                      </div>

                      <div data-mdb-input-init class="form-outline mb-4">
                        {{ render_field(form.password, class="form-control form-control-lg") }}
                      </div>

                      <div class="pt-1 mb-4">
                        {{ render_field(form.submit, class="btn btn-dark btn-lg btn-block") }}
                      </div>
                    </form>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

{% include "footer.html" %}
{% endblock %}
