<!doctype html>
{% from "bootstrap5/form.html" import render_field %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Task Manager Website</title>
    <link rel="icon" href="/static/assets/img/task-list.svg">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/to-do-page.css">
  </head>

  <body>
    <!-- HEADER -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-light" style="box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
      <div class="container-fluid">
        <a class="navbar-brand mx-4 text-color" href="#">Task Manager</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="ms-auto dropdown">
            <!-- Profile Picture -->
            <img
              class="profile-pic dropdown-toggle"
              src="{{ current_user.email | gravatar }}"
              alt="profile-pic"
              id="profileDropdown"
              data-bs-toggle="dropdown"
              aria-expanded="false">

            <!-- Dropdown Menu -->
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
              <li><a class="dropdown-item" href="#">{{ current_user.name.title() }}</a></li>
              <li><a class="dropdown-item" href="#">Settings</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item text-danger logout" href="{{ url_for('logout') }}">Logout</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <!-- HEADER -->

    <!-- SIDEBAR -->
    <nav class="sidebar">
      <div class="sidebar-link">
        <img src="/static/assets/img/bag.svg" alt="home-icon">
        <div>My Tasks</div>
      </div>
      <div class="sidebar-link">
        <img src="/static/assets/img/complete.svg" alt="explore-icon">
        <div>Completed</div>
      </div>
      <div class="sidebar-link">
        <img src="/static/assets/img/pending.svg" alt="subscriptions-icon">
        <div>Pending</div>
      </div>
      <div class="sidebar-link">
        <img src="/static/assets/img/settings.svg" alt="originals-icon">
        <div>Settings</div>
      </div>
      <a style="text-decoration: none;" href="{{ url_for('logout') }}">
        <div class="sidebar-link logout-sidebar">
          <img src="/static/assets/img/logout.svg" alt="youtube-music-icon">
          <div>Logout</div>
        </div>
      </a>
    </nav>
    <!-- SIDEBAR -->

    <main>

        <div class="todo-container">
          <div class="todo-header">
            <h2>My Tasks</h2>
            <p>Organize your day effectively</p>
          </div>

          <form action="{{ url_for('get_all_tasks') }}" method="POST">
            {{ form.hidden_tag() }}
            <div class="todo-input">
              {{ render_field(form.task, class="task-field", placeholder="Add a new task...") }}
              {{ render_field(form.submit, class="btn-add") }}
            </div>
          </form>

          <div class="todo-list">
            {% set user_tasks = all_task|selectattr('author_id', 'equalto', current_user.id)|list %}
            <!-- Check if the current user has no tasks -->
            {% if user_tasks|length == 0 %}
                <div class="no-task"><img class="task-icon" src="/static/assets/img/task-list-2.svg" alt="task-icon">Currently, there is no task.</div>

            {% else %}
              {% for task in all_task|sort(attribute='is_completed')|sort(attribute='is_in_progress', reverse=True) %}
                {% if current_user.id == task.author_id and task.title|length == 0 %}
                  <div class="todo-item">Currently, There is no task.</div>
                {% endif %}

                {% if current_user.id == task.author_id %}
                  <div class="todo-item {% if task.is_completed %}task-completed{% elif task.is_in_progress %}task-in-progress{% endif %}">
                    <span class="{% if task.is_completed %}text-decoration-line-through text-muted{% elif task.is_in_progress %}text-warning{% endif %}">
                      {{ task.title }}
                    </span>
                    <div class="todo-actions">
                      <!-- Dropdown -->
                      <div class="btn-group">
                        <button
                          type="button"
                          class="btn {% if task.is_in_progress %}btn-warning{% elif task.is_completed %}btn-success{% else %}btn-primary{% endif %} dropdown-toggle"
                          data-bs-toggle="dropdown"
                          aria-expanded="false">
                          {% if task.is_in_progress %}In Progress{% elif task.is_completed %}Completed{% else %}Update{% endif %}
                        </button>
                        <ul class="dropdown-menu">
                          <li>
                            <a class="dropdown-item" href="{{ url_for('mark_as_in_progress', task_id=task.id) }}">In Progress</a>
                          </li>
                          <li><hr class="dropdown-divider"></li>
                          <li>
                            <a class="dropdown-item" href="{{ url_for('mark_as_completed', task_id=task.id) }}">Completed</a>
                          </li>
                          <li><hr class="dropdown-divider"></li>
                          <li>
                            <a class="dropdown-item" href="#">Edit</a>
                          </li>
                        </ul>
                      </div>

                      <!-- Delete Button -->
                      <a href="{{ url_for('delete_task', task_id=task.id) }}">
                        <button class="btn btn-danger">Delete</button>
                      </a>
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
            {% endif %}
          </div>

        </div>


    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>
